{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 0, // 0=off, 1=warn, 2=error
    "prettier/prettier": 2,
    "no-empty-function": 0,
    "@typescript-eslint/no-empty-function": 0,
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "no-case-declarations": 0,
  }
}